@model UserSignup.ViewModels.DisplayUserViewModel

<table>
    <tr>
        <th>Name</th>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
</table>

